
.img1{
	position: relative;
	float: left;
	margin:80px 100px;
	left:0px;
}
.img1 img{

	height:100%;
	width: 100%;

}
.back{
	position: absolute;
	float: left;
	margin:0px;
	top:90px;
	left:40px;

}
.back img{
	width: 26px;
}
.img2{
	position: absolute;

	margin:0px;
	top:60px;
	left:68%;

}
.img2 img{
	width: 400px;
}